extends layout

block content
  h1 Etho Protocol API rest server
  p This is the Etho Protocol API rest server. It have a number of API calls in order to query information.

  h2 Basic API calls
  h3 Chain current parameters
  a(href="/api?module=basic&action=chaininfo") ${'baseurl'}/api?module=basic&action=chaininfo
  p
