extends layout

block content
  h1 Etho Protocol API rest server
  p This is the Etho Protocol API rest server. It have a number of API calls in order to query information.

  h2 Module: Basic API calls
  h3 Action: chaininfo
  a(href="localhost:8080/api?module=basic&action=chaininfo") api.ethoprotocol.com/api?module=basic&action=chaininfo
  p Provides basic chain info like blocktime, hashrate and difficulty

  h3 Action: supply
  a(href="localhost:8080/api?module=basic&action=chaininfo") api.ethoprotocol.com/api?module=basic&action=chaininfo
  p Provides ETHO current supply
